* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

:root {
    --bg-color: rgb(255, 255, 255);
    --fon-color: rgb(0, 0, 0);
    --shadow-color: gainsboro;
}

.darkMode {
    --bg-color: rgb(30, 29, 29);
    --fon-color: rgb(255, 255, 255);
    --shadow-color: rgb(49, 49, 49);
}


body {
    font-family: cursive;
    background-color: var(--bg-color);
    color: var(--fon-color)
}


header {
    padding: 2rem;

}

.cell {
    width: 80px;
    height: 80px;
    border: 2px solid purple;
    font-size: 4rem;
    cursor: pointer;
}


.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}


.cell-container {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    margin: 0 auto;
    width: fit-content;
    padding: 1rem;
}

.winning-line {
    color: green;
}

.winner {
    color: rgb(114, 121, 250);
    font-size: 2rem;
}

.restartButton {
    border: none;
    padding: 0.6rem;
    background-color: rgb(191, 16, 191);
    color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 2px var(--shadow-color);
    cursor: pointer;
}

.dark {
    position: fixed;
    top: 30px;
    right: 20px;
    background-color: transparent;
    border: none;
}

svg {
    font-size: 99px;
    fill: var(--fon-color);
    stroke: var(--fon-color)
}