* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


header {
    padding: 2rem;

}

.cell {
    width: 80px;
    height: 80px;
    border: 2px solid purple;
    font-size: 4rem;
    cursor: pointer;
}


.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}


.cell-container {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    margin: 0 auto;
    width: fit-content;
    padding: 1rem;
}

.winning-line {
    color: green;
}

.winner {
    color: rgb(114, 121, 250);
    font-size: 2rem;
}